* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e5e5e5;
  margin: 0 auto;
}
main {
  margin: 117px 150px;
  background: #ffffff;
  box-shadow: 0px 4px 68px rgba(0, 0, 0, 0.1);
}
h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 56px;
  color: #171717;
  padding-top: 134px;
  padding-left: 129px;
}
p {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: rgba(23, 23, 23, 0.7);
}
p:first-of-type::first-letter {
  font-family: "Playfair Display", serif;
  font-size: 110px;
  line-height: 91px;
  float: left;
  color: #000;
  margin-right: 18px;
}
